<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  {% load static %}


  <title>PRS</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bootstrap.min.css'%}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'jumbotron.css' %}" rel="stylesheet">
</head>

<body>
  <main role="main">


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <div style="display:flex; justify-content: space-around;">
          <div>
            <img src="../static/rock.png" width="200" height="200">
            <h2 style="text-align: center;">YOU PICK</h2>
          </div>
          <div>
            <h2>Score</h2>
            <div style="display:flex; justify-content: space-around;">
                <div>
                    <p style="font-size: 2em; ">4</p>
                </div>
                <div>
                    <p style="font-size: 2em;">1</p>
                </div>
            </div>
          </div>
          <div>
            <img src="../static/paper.png" width="200" height="200">
            <h2 style="text-align: center;">AI PICK</h2>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row" style="display:flex; justify-content: space-around;">
        <button class="btn btn-primary btn-lg">
          <img src="../static/rock.png" width="200" height="200">
          <h2>ROCK</h2>
        </button>
        <button class="btn btn-primary btn-lg">
          <img src="../static/paper.png" width="200" height="200">
          <h2>PAPER</h2>
        </button>
        <button class="btn btn-primary btn-lg">
          <img src="../static/scissors.png" width="200" height="200">
          <h2>SCISSOR</h2>
        </button>
      </div>
      <hr>
    </div> <!-- /container -->

  </main>

  <footer class="container">
    <p>&copy; Company 2017-2018</p>
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="jquery-slim.min.js"><\/script>')</script>
  <script src="popper.min.js"></script>
  <script src="bootstrap.min.js"></script>
</body>

</html>